@{
	Layout = null;
}
﻿ @using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
	string Fullname = HttpContextAccessor.HttpContext.Session.GetString("Fullname");
	string Username = HttpContextAccessor.HttpContext.Session.GetString("Username");
}

<div id="header">
	<div class="container">
		<div id="welcomeLine" class="row">
			<div class="span6">Welcome!<strong> @Fullname </strong></div>
			<div class="span6">
			</div>
		</div>
		<!-- Navbar ================================================== -->
		<div id="logoArea" class="navbar">
			<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="navbar-inner">
				<a class="brand" href="~/Home/Index"><img src="~/themes/images/logo.png" alt="KitchenShop" /></a>
				<
				<ul id="topMenu" class="nav pull-right">
					@if (@Username != null)
					{
						<li class=""><a href="@Url.Action("Logout", "Account")" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success">Logout</span></a></li>
					}
					else
					{
						<li class=""><a href="@Url.Action("Login", "Account")" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success">Login</span></a></li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>
