@inject IHttpContextAccessor HttpContextAccessor
@{
	string IdUser = HttpContextAccessor.HttpContext.Session.GetString("IdUser");
}
@model Kitchen_Appliances_MVC.ViewModelData.Product.SearchProductViewModel
<div class="tab-pane" id="listView">
	@for (int i = 0; i < Model.Products.Count; i++)
	{
		<div class="row">
			<div class="span2">
				<img src=@Model.Images[@Model.Products[i].Id] alt="" />
			</div>
			<div class="span4">
				<h3>New | Available</h3>
				<hr class="soft" />
				<h5>@Model.Products[i].Name </h5>
				<p>
					@Model.Products[i].Description
				</p>
				<a class="btn btn-small pull-right" asp-controller="Product" asp-action="ProductDetail" asp-route-id="@Model.Products[i].Id">View Details</a>
				<br class="clr" />
			</div>
			<div class="span3 alignR">
				<form class="form-horizontal qtyFrm">
					<h3>$@Model.Products[i].Price</h3>
					<label class="checkbox">
						<input type="checkbox">  Adds product to compair
					</label><br />
					<div class="btn-group">
						@* <a href="~/" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a> *@
						<a class="ajax-add-to-cart btn btn-large btn-primary" data-productid=@Model.Products[i].Id data-customerid=@IdUser>Add to <i class="icon-shopping-cart"></i></a>
						<a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@Model.Products[i].Id" class="btn btn-large"><i class="icon-zoom-in"></i></a>
					</div>
				</form>
			</div>
		</div>
		<hr class="soft" />
	}
</div>
