<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <title>
        Error
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/paymentv2/Styles/vendors/bootstrap/bootstrap.bundles.css">
    <!-- end bootstrap -->
    <!-- select2 -->
    <link rel="stylesheet" href="/paymentv2/Styles/vendors/select2/select2.bundles.css">
    <!-- end select2 -->
    <!-- css use for this page only -->
    <!-- end css use for this page only -->
    <!-- css use for this page only -->
    <!-- end css use for this page only -->
    <link rel="stylesheet" href="/paymentv2/Styles/style.css">
    <link rel="stylesheet" href="/paymentv2/Styles/custom.bundles.css">
    <link rel="shortcut icon" type="text/html" href="/paymentv2/images/favicon/favicon.png">
</head>

<body onunload="">

    <div class="loading">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="main main-layout-sm">
        <!-- _custom.header -->
        <div class="header-desktop show-desktop">
            <div class="row row-16 align-items-center justify-content-between">
                <div class="col-auto block-right">
                    <div class="title h4">
                        <!-- button.button -->
                        <a class="ubg-ghost ubox-size-button-sm ubg-hover ubg-active ubtn" href="/paymentv2/Payment/Error.html?code=03&amp;vnp_Locale=vi-VN">
                            <div class="ubtn-inner">
                                <span class="ubtn-ic ubtn-ic-left">
                                    <img src="/paymentv2/images/img/flags/vi.svg" alt="" class="ic-xl">
                                </span>
                                <span class="ubtn-text">Vi</span>
                            </div>
                        </a>
                        <!-- end button.button -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end _custom.header -->



        <div class="main-wrap">
            <div class="main-inner main-inner-page">
                <div class="box box-main">
                    <!-- _custom.header -->
                    <div class="box__header header-box header-box-simple">
                        <div class="box__header-inner">
                            <div class="section">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-auto header-box-top">
                                        <div class="row align-items-center justify-content-md-center">
                                            <div class="col-md-auto col">
                                                <div class="logo d-block text-center">
                                                    <img src="/paymentv2/Images/brands/logo-en.svg" alt="VNPAY">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end _custom.header -->
                    <div class="box__body ubg-white">
                        <div class="box-error">
                            <div class="box-error-inner">
                                <div class="list-mb8 list-crop">
                                    <form action="/paymentv2/Payment/Error.html" autocomplete="off" class="form form-vertical" id="formRenew" method="post">
                                        <div class="icon">
                                            <img src="/paymentv2/images/graph/error.svg" alt="">
                                        </div>
                                        <div class="title h2 color-danger">
                                            Error
                                        </div>
                                        <div class="fz-h3">Invalid data format</div>
                                        <div class="mt24 text-left box-simple ubg-secondary">
                                            <div class="form-item-label-group list-mb8 list-crop">
                                                <div class="form-item">
                                                    <div class="row row-8 list-mb4 list-crop">
                                                        <div class="col-sm-5 col">
                                                            <div class="title color-sub-default">Mã tra cứu</div>
                                                        </div>
                                                        <div class="col-sm-7 col-auto">
                                                            <div class="value weight5 text-right"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-item">
                                                    <div class="row row-8 list-mb4 list-crop">
                                                        <div class="col-sm-5 col">
                                                            <div class="title color-sub-default">Thời gian giao dịch</div>
                                                        </div>
                                                        <div class="col-sm-7 col-auto">
                                                            <div class="value weight5 text-right">6/9/2024 3:18:40 PM</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input hidden name="code" value="03" />
                                        <input name="__RequestVerificationToken" type="hidden" value="SsJyrRA4R4uWewFI6JPD8Nz_42wepMMIxgQo4ZbmrztUx_tH212bN4n4MhevyH8hNsLdYxiCkGHoCaR4pot9mcjMuhcOfGivsFWte7AIeJc1" />                                <div class="section mt24">
                                            <!-- button.button -->
                                            <!-- end button.button -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- _custom.footerBox -->
                    <div class="box__footer footer-box">
                        <div class="box__footer-inner">
                            <div class="section">
                                <div class="row row-32 list-mb24 list-crop align-items-center justify-content-center">
                                    <div class="col fz-h5 show-mobile">
                                        Developed by VNPAY &copy; 2023
                                    </div>
                                    <div class="col-sm show-desktop">
                                        <div class="row row-32 align-items-center">
                                            <div class="col-auto">
                                                <!-- button.button -->
                                                <a href="tel:1900555577" class="ubg-ghost ubox-size-button-default ubg-hover ubg-active ubtn">
                                                    <div class="ubtn-inner">
                                                        <div class="ubg-line-porcelain-dark ubox-size-ic-md ubox-square ubox ubox-ic">
                                                            <img src="/paymentv2/images/icons-color/default2/default/24x24-phone.svg" alt="" class='ic-default'>
                                                        </div>
                                                        <span class="ubtn-text h3 color-info u pl12">1900.5555.77</span>
                                                    </div>
                                                </a>
                                                <!-- end button.button -->
                                            </div>
                                            <div class="col-auto">
                                                <!-- button.button -->
                                                <a href="mailto:hotrovnpay@vnpay.vn" class="ubg-ghost ubox-size-button-default ubg-hover ubg-active ubtn">
                                                    <div class="ubtn-inner">
                                                        <div class="ubg-line-porcelain-dark ubox-size-ic-md ubox-square ubox ubox-ic">
                                                            <img src="/paymentv2/images/icons-color/default2/default/24x24-email.svg" alt="" class='ic-default'>
                                                        </div>
                                                        <span class="ubtn-text h3 color-info u pl12">hotrovnpay@vnpay.vn</span>
                                                    </div>
                                                </a>
                                                <!-- end button.button -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="row row-8 justify-content-center">
                                            <div class="col-auto">
                                                <a href="https://profile.globalsign.com/SiteSeal/siteSeal/profile/profile.do?p1=e797f6ab&p2=a06dada7520ada559537452c666a510c95706240fc2dfde64d4c864bf735462b7a370908847a6060a26daeac4f549d0bc8&p3=7b58e9c169b0b0ff3eb932a37330cc91d466b871" target="_blank" class="footer-logos">
                                                    <img src="/paymentv2/images/img/logos/global-sign.svg" height="40">
                                                </a>
                                            </div>
                                            <div class="col-auto">
                                                <a href="https://seal.controlcase.com/index.php?page=showCert&cId=3865876849" target="_blank" class="footer-logos">
                                                    <img src="/paymentv2/images/img/logos/pcidss.svg" height="40">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end _custom.footerBox -->
                </div>
            </div>
        </div>
        <footer class="footer main-footer show-desktop">
            <div class="footer-inner text-center">
                Developed by VNPAY &copy; 2023
            </div>
        </footer>
    </div>
    <div class="chat-box show-desktop">
        <div class="chat-box-icon">
            <a href="https://zalo.me/4134983655549474109" target="_blank">
                <img src="/paymentv2/images/img/logos/zalo.svg" alt="">
            </a>
        </div>
    </div>
    <!-- _custom.footerMobile -->
    <div class="footer_mobile show-mobile">
        <div class="footer_mobile-inner">
            <div class="row row-32 align-items-center">
                <div class="col">
                    <div class="inline-block">
                        <!-- button.button -->
                        <a class="ubg-ghost ubox-size-button-sm ubg-hover ubg-active ubtn" href="/paymentv2/Payment/Error.html?code=03&amp;vnp_Locale=vi-VN">
                            <div class="ubtn-inner">
                                <span class="ubtn-ic ubtn-ic-left">
                                    <img src="/paymentv2/images/img/flags/vi.svg" alt="" class="ic-xl">
                                </span>
                                <span class="ubtn-text">Vi</span>
                            </div>
                        </a>
                        <!-- end button.button -->
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row row-0">
                        <div class="col-auto">
                            <!-- button.button -->
                            <a href="https://zalo.me/4134983655549474109" class="ubg-transparent ubox-size-button-default ubox-square ubg-hover ubg-active ubtn">
                                <div class="ubtn-inner">
                                    <span class="ubtn-ic ubtn-ic-left">
                                        <img src="/paymentv2/images/img/logos/zalo.svg" alt="" class="ic-default">
                                    </span>
                                </div>
                            </a>
                            <!-- end button.button -->
                        </div>
                        <div class="col-auto">
                            <!-- button.button -->
                            <a href="tel:1900555577" class="ubg-transparent ubox-size-button-default ubox-square ubg-hover ubg-active ubtn">
                                <div class="ubtn-inner">
                                    <span class="ubtn-ic ubtn-ic-left">
                                        <img src="/paymentv2/images/icons-color/default/default/24x24-phone.svg" alt="" class="ic-default">
                                    </span>
                                </div>
                            </a>
                            <!-- end button.button -->
                        </div>
                        <div class="col-auto">
                            <!-- button.button -->
                            <a href="mailto:hotrovnpay@vnpay.vn" class="ubg-transparent ubox-size-button-default ubox-square ubg-hover ubg-active ubtn">
                                <div class="ubtn-inner">
                                    <span class="ubtn-ic ubtn-ic-left">
                                        <img src="/paymentv2/images/icons-color/default/default/24x24-email.svg" alt="" class="ic-default">
                                    </span>
                                </div>
                            </a>
                            <!-- end button.button -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end _custom.footerMobile -->
</body>
<script src="/paymentv2/Scripts/vendors/jquery/jquery.bundles.js"></script>
<script src="/paymentv2/Scripts/vendors/jquery/jquery.init.js"></script>
<!-- jquery -->
<!-- bootstrap -->
<script src="/paymentv2/Scripts/vendors/bootstrap/bootstrap.bundles.js"></script>
<script src="/paymentv2/Scripts/vendors/bootstrap/bootstrap.init.js"></script>
<!-- bootstrap -->
<!-- select2 -->
<script src="/paymentv2/Scripts/vendors/select2/select2.bundles.js"></script>
<script src="/paymentv2/Scripts/vendors/select2/select2.init.js"></script>
<!-- select2 -->
<!-- parsley -->
<script src="/paymentv2/Scripts/vendors/parsley/parsley.bundles.js"></script>
<script src="/paymentv2/Scripts/vendors/parsley/parsley.init.js"></script>
<!-- parsley -->
<!-- cleave -->
<script src="/paymentv2/Scripts/vendors/cleave/cleave.bundles.js"></script>
<script src="/paymentv2/Scripts/vendors/cleave/cleave.init.js"></script>
<!-- cleave -->
<!-- autosize -->
<script src="/paymentv2/Scripts/vendors/autosize/autosize.bundles.js"></script>
<script src="/paymentv2/Scripts/vendors/autosize/autosize.init.js"></script>
<!-- autosize -->
<!-- script use for this page only -->
<!-- end script for this page only -->
<script src="/paymentv2/Scripts/custom.min.js"></script>
<!-- script use for this page only -->
<!-- end script for this page only -->
<script>
    $(document)
        .ready(function () {
            $('#btnRenew').click(function () {
                clearInterval(intervalCancel);
                var postData = $('#formRenew').serializeArray();
                var submitUrl = '/paymentv2/Payment/Error.html';
                $("#loading").show();
                $.ajax({
                    type: "POST",
                    url: submitUrl,
                    data: postData,
                    dataType: 'JSON',
                    success: function (data) {
                        if (data.code === '00') {
                            //$("#loading").hide();
                            //Check ifram container
                            if (self === top) {
                            //  location.href = data.url;
                            setTimeout(function () {location.href = data.url;},200);
                            } else {
                            //  window.top.location.href = data.url;
                                setTimeout(function () { window.top.location.href = data.url; }, 200);
                            }
                            return false;
                        } else {
                            if (data.code === '100') {
                                alert('Quý khách không thể thực hiện hủy do giao dịch đã được thanh toán thành công. Quý khách sẽ được chuyển hướng về trang mua hàng ngay sau đây.')
                                //Check ifram container
                                if (self === top) {
                                    //  location.href = data.url;
                                    setTimeout(function () { location.href = data.url; }, 2000);
                                } else {
                                    //  window.top.location.href = data.url;
                                    setTimeout(function () { window.top.location.href = data.url; }, 2000);
                                }
                            } else {
                                alert(data.message);
                                $('#btnRenew').addClass('hidden');
                            }
                        }
                    }
                });
                return false;
            });
            var autoRedirect = false;
            console.log('');
            if ('' != '' || '' != 'null')
            {
                autoRedirect = true;
            }
            if (autoRedirect) {
                var countTime = 5;
                var intervalCancel = setInterval(function() {
                    if (--countTime <= 0) {
                        clearInterval(intervalCancel);
                        $('#btnRenew').click();
                    }
                }, 1000);
            }
        });
</script>

</html>