@model Kitchen_Appliances_MVC.ViewModels.Bill.BillDto


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display:flex; justify-content:center; align-content:center; margin-top:30px; flex-direction:column">
        <h4>THANH TOÁN ĐƠN HÀNG THÀNH CÔNG</h4>
        <p>Cám ơn bạn đã mua hàng tại cửa hàng chúng tôi</p>
        <a href="~/Home/Index"><p style="color:green;">Quay lại trang chủ</p></a>
    </div>
</body>
</html>